<div class="container">
<h1>Cocky Cocktails</h1>

<ol>
  <% @cocktails.each do | cocktail | %>
    <li>
      <%= cocktail.name %>
      <%= link_to "Go to", cocktail_path(cocktail) %>
    </li>
  <% end %>
</ol>
</div>



