
.banner{
  height: 500px;
  background-size: cover;
}

.banner{
  h1{
    color:$light-gray;
    font-family: 'Lora', serif;
    font-size: 100px;
    padding-top: 80px;
    text-align: left;
  }
}


